__pycache__
code/cpp/system_config.inc
code/cpp/bin
code/python/_system_config.py
code/python/tools/libcgauth.so
code/python/tools/libvray.so
code/python/tools/libvrayopenimageio.so
code/python/tools/libvrayosl.so
code/python/tools/libVRaySDKLibrary.so
code/python/tools/plugins
contrib/mikeroberts3000/jupyter/.ipynb_checkpoints
contrib/mikeroberts3000/jupyter/_tmp
contrib/mikeroberts3000/python/libcgauth.so
contrib/mikeroberts3000/python/libvray.so
contrib/mikeroberts3000/python/libvrayopenimageio.so
contrib/mikeroberts3000/python/libvrayosl.so
contrib/mikeroberts3000/python/libVRaySDKLibrary.so
contrib/mikeroberts3000/python/plugins
examples/00_empty_scene/data
examples/00_empty_scene/camera*
examples/00_empty_scene/empty_cam.vrscene
examples/00_empty_scene/metadata_camera.csv
examples/00_empty_scene/empty_cam_quads_linear.vrscene
examples/00_empty_scene/empty_cam_quads.vrscene
examples/01_marketplace_dataset/scenes/ai_001_001/_asset
examples/01_marketplace_dataset/scenes/ai_001_001/_asset_export
examples/01_marketplace_dataset/scenes/ai_001_001/_detail/mesh
examples/01_marketplace_dataset/scenes/ai_001_001/images/scene_cam_00*
examples/01_marketplace_dataset/scenes/ai_001_001/images/scene_cam_C*
examples/01_marketplace_dataset/scenes/ai_001_001/_tmp
examples/01_marketplace_dataset/scenes/ai_001_001/_detail/octomap
examples/01_marketplace_dataset/scenes/ai_001_001/_detail/scene_shared
examples/01_marketplace_dataset/scenes/ai_001_001/_detail/scene_cam_Camera001_shared
examples/01_marketplace_dataset/scenes/ai_001_001/vrscenes
examples/01_marketplace_dataset/scenes/ai_001_001/_detail/cam_Camera001